* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #000000;
  margin: 50px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-shadow: 0px 0px 1px white;
  overflow: auto;
}
p {
  text-align: justify;
  text-align-last: left;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(64, 36, 223);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
li {
  color: #000000;
  font-size: 18px;
}
caption {
  color: #818181;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: rgb(3, 177, 81);
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
a:active {
  color: rgb(119, 128, 0);
  text-decoration: underline;
}
.theme {
  display: inline;
  color: rgb(2, 49, 255);
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.theme:hover {
  background-color: blue;
  color: rgb(255, 249, 249);
}
code {
  border-left: 5px solid rgb(255, 0, 0);
  border-right: 5px solid rgb(255, 0, 0);
  /*border-bottom: 3px solid blue; */
  background-color: rgb(7, 96, 211);
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
}
