body {
  background-color: #ffffff;
  color: #000000;
  margin: 50px;
  font-size: 110%;
  font-family: Arial, sans-serif;
}
p {
  text-align: justify;
  text-align-last: left;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: blue;
  text-align: center;
  text-shadow: 1px 1px 2px white, 5px 5px 7px lightgray;
  font-family: "Times New Roman", Times, serif;
}
li {
  color: #000000;
  font-size: 110%;
}
caption {
  color: #818181;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: green;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
a:active {
  color: yellow;
  text-decoration: underline;
}
.theme {
  display: inline;
  color: rgb(2, 49, 255);
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.theme:hover {
  background-color: blue;
  color: rgb(255, 249, 249);
}
code {
  border-left: 5px solid blue;
  border-right: 5px solid blue;
  /*border-bottom: 3px solid blue; */
  background-color: rgb(202, 232, 241);
  font-family: "Courier New", Courier, monospace;
}
